<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turtlepartiesapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/turtle_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/turtle_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurtlepartiesApp">
        <activity
            android:name=".TakenPictureActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".OtherPlayerProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PlayerSearchActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCj9bxeyKrtePUr9OsZY6_OkjDpURt2Xcc" />

        <activity
            android:name=".QRInfo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ScanQRActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".PortraitMode"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>